<% include ../partials/chat %>
</div>
<!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="/dist/AngularJS/angular-notification.min.js"></script>
<script src="/dist/AngularJS/chart.js/dist/Chart.min.js"></script>
<script src="/dist/AngularJS/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/dist/AngularJS/cordovaNotificationModule.js"></script>
<script src='/dist/AngularJS/angular-config.js'></script>
<script src="/dist/AngularJS/app.js"></script>
<script src='/dist/AngularJS/tableHashtagCtrl.js'></script>


</body>
</html>
