<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
        <li class="treeview">
          <a href="/users">
            <i class="fa fa-user"></i>
            <span>Users' List</span>
          </a>
        </li>
        <li class="treeview">
          <a href="/chart">
            <i class="fa fa-bar-chart"></i>
            <span>Statistic</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-comment"></i> <span>Post</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/"><i class="fa fa-comment-o"></i> View All Post</a></li>
            <li><a href="/post/new"><i class="fa fa-pencil-square-o"></i> New Post</a></li>
          </ul>

        </li>

      </ul>
  </section>
</aside>
<div class="content-wrapper">
